* {
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.camera {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.video {
    width: 100%;
    height: 100vh;
    /* object-fit: cover; */
}