* {
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}

.camera {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.video {
    width: 480px;
    height: 480px;
    /* object-fit: cover; */
}